body {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #AE7C78;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.5px;
}

a {
  text-decoration: none;
  color: #AE7C78;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  display: none;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 22px 0;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
  height: 67px;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-logo {
  position: absolute;
  align-self: center;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
  height: 32.28px;
}

.navigation-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation-list li:nth-of-type(3) {
  margin-right: 62px;
}

.navigation-list li:nth-of-type(4) {
  margin-left: 62px;
}

.main-info {
  min-height: 461px;
  display: flex;
  flex-direction: row;
  margin-top: 77px;
  margin-bottom: 69px;
  justify-content: space-between;
  column-gap: 20px;
}

.main-info-invite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-info-title {
  margin: 0;
  padding-bottom: 37px;
  font-family: 'Playfair-display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 58.65px;
}

.main-info-txt {
  font-size: 24px;
  line-height: 29.26px;
  padding-bottom: 66px;
}

.main-info-title span {
  font-family: 'Playfair_display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
}

.main-info-button, .popular-button {
  display: grid;
  width: 280px;
  height: 80px;
  border-radius: 40px;
  background-color: #D89999;
}

.main-info-button span,
.popular-button span {
  margin: auto;
  color: #FFFFFF;
}

.main-info-image-left {
  align-self: flex-end;
  border-radius: 10px;
}

.main-info-image-right {
  border-radius: 10px;
}

.description {
  margin-bottom: 77px;
}

.description-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
}

.description-list-item {
  position: relative;
  padding-left: 115px;
}

.description-list-item:nth-child(1) {
  padding-left: 115px;
  padding-right: 20px;
}

.description-list-item:nth-child(2) {
  padding-left: 80px;
  padding-right: 20px;
}

.description-list-item:nth-child(3) {
  padding-left: 100px;
}

.description-list-item dt {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.description-list-item dd {
  margin: 0;
  width: 283px;
}

.description-list-item:nth-child(1)::before {
  content: url('../img/description/truck.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.description-list-item:nth-child(2)::before {
  content: url('../img/description/tulips.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.description-list-item:nth-child(3)::before {
  content: url('../img/description/camera.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.popular {
  display: grid;
  justify-content: center;
  margin-top: 70px;
}

.popular-bouquets {
  display: flex;
  width: 794px;
}

.popular-bouquets h2 {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(174, 124, 120, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  line-height: 140%;
  padding-left: 200px;
}

.popular-bouquets h3 {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.popular-bouquets p {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  text-decoration: none;
  line-height: 120%;
  font-weight: 300;
}

.popular-bouquets .popular-title {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.slider-controls {
  display: grid;
  justify-content: center;
  grid-template-columns: 70px 70px;
  margin-bottom: 77px;
}

.slider-controls button {
  background-color: transparent;
  border: none;
}

.button-left::before {
  content: url('../img/popular/arrow-left.svg');
}

.button-right::before {
  content: url('../img/popular/arrow-right.svg');
}

.catalog-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}

.catalog-div a {
  display: block;
  width: 387px;
  height: 442px;
  background-color: rgba(174, 124, 120, 0.6);
  text-decoration: none;
  border-radius: 10px;
}

.catalog-div .wedding-bouquet {
  background-image: url('../img/catalog/roses-on-wooden.png');
  background-repeat: no-repeat;
  width: 387px;
  height: 442px;
  border-radius: 10px;
}

.catalog-div .peonies-bouquet {
  background-image: url('../img/catalog/rose-roses.png');
  background-repeat: no-repeat;
  width: 387px;
  height: 442px;
  border-radius: 10px;
}

.catalog-div .choose-bouquet {
  background-image: url('../img/catalog/lady-with-flowers.png');
  background-repeat: no-repeat;
  width: 387px;
  height: 442px;
  border-radius: 10px;
}

.catalog h3 {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(229, 229, 229, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
  text-align: center;
  padding-top: 40%;
}

.catalog p {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(229, 229, 229, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
}

.discont {
  display: grid;
  grid-template-columns: 1fr 590px;
  background-color: rgba(174, 124, 120, 1);
  margin-top: 70px;
  justify-content: center;
  height: 391px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.discont h2 {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(229, 229, 229, 1);
  font-size: 44px;
  text-decoration: none;
  font-weight: 300;
  line-height: 140%;
  padding-left: 100px;
  padding-right: 125px;
}

.discont p {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(229, 229, 229, 1);
  font-size: 24px;
  text-decoration: none;
  line-height: 120%;
  font-weight: 300;
  padding-left: 100px;
  padding-right: 125px;
  padding-top: -20px;
}

.steps img {
  display: block;
  margin: auto;
}

.process-title {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(174, 124, 120, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.process-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.process-list-title {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
}

.process-list-text {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
}

.news {
  margin-top: 70px;
  margin-bottom: 50px;
}

.news-container {
  display: grid;
  grid-template-areas: "1fr 285px 387px";
  gap: 17px;
}

.news-text {
  grid-row: span 2;
}

.news-text h2 {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(174, 124, 120, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  line-height: 140%;
  padding-top: 40px;
}

.news-text p {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  padding: 0;
}

.news-icon {
  list-style-type: none;
}

.news-image-second {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.news-image-third {
  grid-row: span 2;
}

.reviews {
  border: 1px solid rgba(174, 124, 120, 1);
  margin-top: 68px;
  margin-bottom: 71px;
}

.reviews-title {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(174, 124, 120, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  margin-bottom: 39px;
}

.reviews-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 0;
}

.review {
  display: inline-block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 63px;
}

.review p {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
}

.review cite {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
}



.contacts {
  background-image: url('../img/contacts/map.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  margin: 0;
}

.contacts-container {
  display: inline-block;
  width: 386px;
  height: 520px;
  background-color: rgba(247, 250, 252, 1);
  margin-left: 300px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.contacts-container-title {
  font-family: "Playfair Display", "Georgia", sans-serif;
  color: rgba(174, 124, 120, 1);
  font-size: 36px;
  text-decoration: none;
  font-weight: 600;
  line-height: 140%;
  padding-top: 15px;
  padding-left: 30px;
}

.contacts-container-text {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  padding-left: 30px;
}

.contacts-container a {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}

.contacts-container .info {
  font-family: "Montserrat", "Tahoma", serif;
  color: rgba(174, 124, 120, 1);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  padding-left: 30px;
  padding-bottom: 15px;
}

footer {
  background-color: rgba(174, 124, 120, 1);
  padding: 20px;
}

footer a {
  color: rgba(229, 229, 229, 1);
  font-family: "Montserrat", "Tahoma", serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
  text-decoration: none;
  margin: auto 0;
  padding: 0;
}

.footer-navigation {
  display: grid;
  grid-template-columns: 100px 1fr 150px;
  gap: 20px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
