/* 1. поставить иконку по центру*/
/* 2. вынести вторую картинку в main пониже*/

body {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #AE7C78;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.5px;
}

a {
  text-decoration: none;
  color: #AE7C78;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  display: none;
}
/*использовать ордер для оцентровки изображения*/
.page-header {
  display: flex;
  align-items: center;
  /*position: relative;*/
  margin-top: 26px;
  min-height: 64px;
  border-bottom: 1px solid #AE7C78;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  /*position: absolute;
  left: 46%;*/
  width: 100px;*/
  height: 32.28px;
}

.navigation-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/*
.navigation-list li:nth-child(3) {
  margin-right: 62px;
}

.navigation-list li:nth-child(4) {
  margin-left: 62px;
}*/

.main-info {
  min-height: 461px;
  display: flex;
  flex-direction: row;
  padding-top: 77px;
  padding-bottom: 69px;
  justify-content: space-between;
  column-gap: 20px;
  /*min-height: 465px;*/
}

.main-info-invite {
  display: flex;
  flex-direction: column;
}

.main-info-title {
  margin: 0;
  padding-top: 34px;
  padding-bottom: 37px;
  font-family: 'Playfair-display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 58.65px;
}

.main-info-txt {
  font-size: 24px;
  line-height: 29.26px;
  padding-bottom: 69px;
}

.main-info-title span {
  font-family: 'Playfair_display', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
}
/*
.main-info div:nth-child(1) {
  width: 384px;
  padding-right: 23px;
}
*/
.main-info-button, .popular-button {
  display: grid;
  width: 280px;
  height: 80px;
  border-radius: 40px;
  background-color: #D89999;
}

.main-info-button span,
.popular-button span {
  margin: auto;
  color: #FFFFFF;
}

.main-info-image-left {
}

/*
.main-info div:nth-child(2) {
  display: flex;
}

.main-info-image-left {
  display: block;
  width: 386px;
  padding-top: 58px;
  padding-right: 15px;
}

.main-info-image-right {
  display: block;
  width: 387px;
  outline: none;
}
*/
.description-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
}

.description-list-item {
  position: relative;
  padding-left: 115px;
}

.description-list-item:nth-child(1) {
  padding-left: 115px;
  padding-right: 20px;
}

.description-list-item:nth-child(2) {
  padding-left: 80px;
  padding-right: 20px;
}

.description-list-item:nth-child(3) {
  padding-left: 100px;
}

.description-list-item dt {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  /*padding-left: 20px;
  padding-bottom: 20px;*/
}

.description-list-item dd {
  margin: 0;
  width: 283px;
}

.description-list-item:nth-child(1)::before {
  content: url('../img/description/truck.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.description-list-item:nth-child(2)::before {
  content: url('../img/description/tulips.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.description-list-item:nth-child(3)::before {
  content: url('../img/description/camera.svg');
  position: absolute;
  left: 15px;
  margin: 0;
}

.popular-bouquets {
  font-family: 'Playfair_display', 'Times New Roman', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 47.99px;
}

.bouquet-gentle, .bouquet-gentle-price {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29.26px;
}
/*для оцентровки элемента задать margin: 0 auto;*/
.slider-controls button {
  background-color: transparent;
  border: none;
}

.button-left::before {
  content: url('../img/popular/arrow-left.svg');
}

.button-right::before {
  content: url('../img/popular/arrow-right.svg');
}

.catalog-section {
  display: inline-block;
  position: relative;
}

.catalog-section-title {
  font-family: 'Playfair-display', 'Times New Roman', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 47.99px;
  color: #FFFFFF;
  position: absolute;
  /*добавить паддинг, если будет вываливаться дочерний margin*/
}

.catalog-section-subtitle {
  color: #FFFFFF;
  position: absolute;
}

.catalog-section-container {
  background-color: rgba(174, 124, 120, 0.6);
  border-radius: 10px;
}
